@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1
    }

    50% {
        transform: scale(1.6);
        opacity: 0.4
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}